.home-div {
    overflow-y: visible !important;
    position: relative !important;
}

.blue-background {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url(../../images/pattern-bg.png);
    background-size: cover;
    background-position-x: center;
}

.map-div {
    width: 100%;
    height: 367px;
}

.page-title {
    color: white;
    font-weight: 500;
    font-size: 24px;
}

.info-container {
    width: 85%;
}

.ip-input-div {
    width: 100%;
    height: 5rem;
}

.results-div{
    width: 100%;
    
}

#map {
    height: 180px;
}